* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: сalibri;
    src: url("../fonts/calibri.woff2") format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: сalibri;
    src: url("../fonts/calibri-bold.woff2") format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: сalibri;
    src: url('../fonts/calibri-italic.woff2') format('woff2');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'myriad pro';
    src: url('../fonts/myriadpro-bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/myriadpro-regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
.width{
    width: 1440px;
    margin: auto;
}
body{
    font-family: Calibri, sans-serif;
    width: 100%;
}
header {
    background-color: #43b1d2;
    width: 100%;
}
.header::after {
    content: "";
    clear: both;
    display: block;
}
.logo {
    float: left;
    padding-top: 35px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.25;
    text-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
}
.logo span{
    float: right;
}
.logo img{
    width: 80px;
    height: 55px;
    padding-right: 30px;
    clear: both;
}
.menu {
    float: right;
    padding-top: 23px;
    padding-bottom: 25px;
}
.tel {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}
.tel img {
    padding-right: 15px;
}

.menu_ul {
    padding-top: 23px;
    display: flex;
    justify-content: flex-end;
}
.menu_ul li:hover {
    color: white;
}
.menu_ul li {
    padding-left: 30px;
    list-style-type: none;
    font-size: 20px;
    color: #494848;
}
.button_up{
    width: 70px;
    height: 70px;
    position: fixed;
    right: 40px;
    bottom: 100px;
}
main{
    text-align: justify;
}
.grey_layer{
    width: 100%;
    position: relative;
    background-color: #cbd4e6;
}
.info_tel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url('../img/Layer1.png');
    background-repeat: no-repeat;
}
.info_tel__text1 {
    font-size: 22px;
    color: rgb(73, 72, 72);
    line-height: 1.25;
    text-align: right;
    padding-top: 110px;
    max-width: 620px;
}
.info_tel__text2 {
    font-family: 'Myriad Pro', sans-serif;
    padding-top: 60px;
    font-size: 36px;
    color: rgb(73, 72, 72);
    font-weight: bold;
    line-height: 1;
    text-align: right;
    width: 450px;
}
.form-tel{
    padding-top: 55px;
    padding-bottom: 45px;
    display: flex;
}
.form-tel__input{
    padding-left: 12px;
    color: #6c757d;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px 0 0 5px;
    border-right: none;
    width: 225px;
}
.form-tel__button{
    color: #6c757d;
    background-color: #cbd4e6;
    border: 1px solid #6c757d;
    font-size: 14px;
    padding: 10px 15px;
    width: 105px;
    border-radius: 0 5px 5px 0;
}
.list-value{
    display: flex;

}
.items-column1{
    background-color: #43b1d2;
}
.items-column2{
    background-color: #3fb6c6;
}
.items-column3{
    background-color: #3cbbbb;
}
.items-column4{
    background-color: #37c3a8;
}
.items-column__icon{
    padding-top: 70px;
    display: flex;
    justify-content: center;
}
.items-column__title {
    font-size: 27px;
    font-family: 'Myriad Pro', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    padding-top: 16px;
}
.items-column__text{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    line-height: 1.875;
    color: rgb(255, 255, 255);
    width: 360px;
    padding: 24px 50px 55px;
    text-align: center;

}

