* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.width{
    width: 1440px;
    margin: auto;
}
body{
    font-family: Calibri, sans-serif;
    width: 100%;
}
header {
    background-color: #43b1d2;
    width: 100%;
}
.header::after {
    content: "";
    clear: both;
    display: block;
}
.logo {
    float: left;
    padding-top: 35px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.25;
    text-align: left;
    text-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
}
.logo span{
    float: right;
}
.logo img{
    width: 80px;
    height: 55px;
    padding-right: 30px;
    clear: both;
}
.menu {
    float: right;
    padding-top: 30px;
}
.tel {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
.tel img {
    vertical-align: middle;
    padding-right: 15px;
}
.menu_ul {
    padding-top: 23px;
    display: flex;
    justify-content: flex-end;
}
.menu_ul li:hover {
    color: white;
}
.menu_ul li {
    padding-left: 30px;
    list-style-type: none;
    font-size: 20px;
    color: #494848;
}
.button_up{
    width: 70px;
    height: 70px;
    position: fixed;
    right: 40px;
    bottom: 100px;
}
main{
    padding-left: 70px;
    padding-right: 120px;
    text-align: justify;
}