@font-face {
  font-family: Calibri;
  src: url("../fonts/calibri.woff2") format("woff2");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: Calibri;
  src: url("../fonts/calibri-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: Calibri;
  src: url("../fonts/calibri-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/myriadpro-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/myriadpro-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal; }