.background {
  background-color: $background;
}

.section2-box {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1440px) {
    flex-direction: column;
  }
}

.article-box {
  width: 62%;
  padding: 20px 0 40px 15px;
  @media (max-width: 1440px) {
    width: 100%;
  }
  @media (max-width: 767px) {
    padding: 20px 15px;

  }

  .article-box__title {
    font-size: 30px;
    font-style: italic;
    color: $colorText;
    padding-bottom: 35px;
    font-weight: 400;
    @media (max-width: 767px) {
      padding-bottom: 20px;
    }
  }

  .article-box__body {
    display: flex;
    padding-bottom: 20px;
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }

    .article-box__img {
      @media (max-width: 767px) {
        padding-bottom: 10px;
      }
      @media (max-width: 480px) {
        & img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .article-box__article {
    font-size: 16px;
    color: $colorText;
    padding: 0 15px;

    p {
      padding-bottom: 13px;
    }

    @media (max-width: 767px) {
      padding: 0;
    }
  }

  .article-box__footer {
    display: flex;
    justify-content: space-between;
  }
}

.feedback {
  width: 35%;
  padding: 20px 30px 40px 0;
  @media (max-width: 1440px) {
    width: 100%;
  }
  @media (max-width: 767px) {
    padding: 20px 15px;

  }

  .feedback__title {
    font-size: 30px;
    font-style: italic;
    color: $colorText;
    padding-bottom: 35px;
    font-weight: 400;
    @media (max-width: 767px) {
      padding-bottom: 20px;
    }
  }

  .feedback__quote {
    font-size: 16px;
    color: $colorText;
    padding-bottom: 35px;

    p {
      padding-bottom: 13px;
    }
  }
}

.feedback__footer {
  display: flex;
  justify-content: flex-end;
}

.buttons-arrow {
  display: flex;
  width: 135px;
  padding: 0 15px;
  justify-content: space-between;

  .button-arrow {
    display: inline-block;
    width: 45px;
    height: 35px;
    border: none;
    border-radius: 3px;
  }
}

.section3 {
  background-color: $baseColor;

  .section3-box {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 45px;
    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;
    }
  }
}

.form-tel2 {
  padding: 35px 10px 0 0;
  display: flex;
  justify-content: center;
    @media (max-width: 992px) {
      padding-top: 30px;
      padding-bottom: 35px;
    }
    @media (max-width: 480px){
      display: flex;
      flex-wrap: wrap;
    }
  &__label {
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
    @media (max-width: 767px) {
      font-size: 20px;
    }
    @media (max-width: 480px) {
      font-size: 18px;
    }
  }
  &__form {
    display: flex;
  }
  &__input {
    padding-left: 12px;
    color: #6c757d;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px 0 0 5px;
    border-right: none;
    width: 225px;
    height: 35px;
    @media (max-width: 767px) {
      width: 150px;
    }
    @media (max-width: 320px) {
      width: 80%;
    }
  }

  &__button {
    color: #6c757d;
    background-color: #cbd4e6;
    border: 1px solid #6c757d;
    font-size: 14px;
    padding: 10px 15px;
    width: 105px;
    height: 35px;
    border-radius: 0 5px 5px 0;
    @media (max-width: 480px) {
      width: 90px;
      padding: 7px 10px;
    }
    @media (max-width: 320px) {
      width: 40%;
      padding: 7px 0;
    }
  }
}
.contacts-bg{
  background-color: $background;
  .contacts-box{
    padding: 115px 0 105px;
    .contacts{
      display: flex;
      justify-content: space-around;
    }
  }
}
.contacts--h3-form {
  padding-bottom: 65px;
}
.contacts--items-text{
  font-size: 16px;
  font-family: "Myriad Pro", sans-serif;
  color: $colorText2;
  list-style-type: none;
  li{
    padding-bottom: 25px;
    padding-left: 40px;
    background: url("../img/triangle.svg") 15px 3px no-repeat;
  }
}
.contacts__get-in-touch{
  .contacts__git-list{

    .contacts__git-items{
      padding-bottom: 55px;
      font-size: 17px;
      font-family: "Myriad Pro", sans-serif;
      color: $colorText2;
      list-style-type: none;
      ul{
        list-style-type: none;
      }
      .contacts--mail{
        font-size: 16px;
      }
    }
  }
}
.contacts__enquiry-form{

   .contacts__ef-form{
     p{
      display: flex;
       &:not(:first-child){
         padding-top: 25px;
       }
       &:not(:last-child){
         border-bottom: 1px solid #d6d9de;
       }
       &:nth-child(3){
         padding-bottom: 60px;

       }
    }
  }
  & input{
    border: none;
    background-color: $background;
    padding-bottom: 20px;
    &:focus{
      outline:none;
    }

  }
}


